<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学の課題 メモる君 - 新規作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create_memo.css') }}">
</head>
<body>
    <div id="create_memo" class="container">
        <h1 class="title-border">課題メモ - 新規作成</h1>

        <form action="{{ url_for('create_memo') }}" method="POST" class="modern-form">
            <label for="title">課題メモ名</label>
            <input type="text" id="title" name="title" required>
            <label for="content">メモ詳細 (授業名など)</label>
            <textarea id="content" name="content" required></textarea>
            <button type="submit" class="button">メモを保存</button>
        </form>

        <a href="{{ url_for('index') }}" class="button">メモ一覧に戻る</a>
    </div>
</body>
</html>
