<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学の課題 メモる君</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="index" class="container">
        <h1>大学の課題 メモる君</h1>
        <p class="sub-title">〜 課題を忘れないあなたのリマインダーアプリ 〜</p>

        <a href="{{ url_for('create_memo') }}" class="button">
            <i class="fas fa-pencil-alt"></i> メモを作る
        </a>

        <div class="memos">
            <h2 class="title-border">メモった課題</h2>

            {% if not memos %}
                <p>まだメモがありません。</p>
            {% endif %}
 
            <ul>
                {% for memo in memos %}
                <li class="card">
                    <a href="{{ url_for('view_memo', memo_id=memo.id) }}">{{ memo.title }}</a>
                    <p class="small">作成日: {{ memo.created_at.strftime('%Y年 %m月 %d日 %H:%M') }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>
