<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学の課題 メモる君</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div id="index" class="container">
        <h1>大学の課題 メモる君</h1>
        <p class="sub-title">〜 課題を忘れないあなたのリマインダーアプリ 〜</p>

        <div class="memos">
            <h2 class="title-border">メモった課題</h2>
 
            <ul>
                <li class="card">
                    <a href="#">プログラミング課題 コードレビュー</a>
                    <p class="small">作成日: 2025年 1月 15日 15:32</p>
                </li>

                <li class="card">
                    <a href="#">レポート提出</a>
                    <p class="small">作成日: 2025年 1月 10日 13:15</p>
                </li>

                <li class="card">
                    <a href="#">プロジェクト提案書提出</a>
                    <p class="small">作成日: 2025年 1月 6日 17:10</p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>