<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大学の課題 メモる君 - {{ memo.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="view-memo" class="container">
        <h1 class="title-border">{{ memo.title }}</h1>
        <p>{{ memo.content }}</p>
        <p><em>Created at: {{ memo.created_at }}</em></p>
        <form method="POST" action="{{ url_for('delete_memo', memo_id=memo.id) }}">
            <button type="submit">Delete Memo</button>
        </form>

        <a href="{{ url_for('index') }}" class="button">メモ一覧に戻る</a>
    </div>
    
</body>
</html>
